* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'IRANSANS';
    src: url('../fonts/iransans/IRANSansWeb.woff') format('woff'),
        url('../fonts/iransans/IRANSansWeb.ttf') format('truetype'),
        url('../fonts/iransans/IRANSansWeb.eot') format('eot'),
        url('../fonts/iransans/IRANSansWeb.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    direction: rtl;
}

body {
    direction: rtl;
    line-height: 1;
    font-family: 'IRANSANS', 'yekan', "Roboto", sans-serif, 'Arial' !important;
    background: rgb(53, 23, 255);
    background: linear-gradient(270deg, rgba(53, 23, 255, 1) 0%, rgba(33, 126, 255, 1) 46%, rgba(15, 159, 255, 1) 100%);
}

p {
    line-height: 28px;
    color: #000;
}

ol,
ul {
    list-style: none;
}

a {
    transition: all .4s;
}

a:hover {
    text-decoration: none;
}

.link-default {
    font-size: .9rem;
    text-decoration: underline;
    display: inline-block;
}

.link-default:hover {
    text-decoration: underline;
}

blockquote,
q {
    quotes: none;
    line-height: 28px !important;
}

.line-height-1 {
    line-height: 26px !important;
}

.line-height-2 {
    line-height: 28px !important;
}

.line-height-3 {
    line-height: 30px !important;
}

.line-height-4 {
    line-height: 32px !important;
}

.line-height-5 {
    line-height: 34px !important;
}

.line-height-6 {
    line-height: 36px !important;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
.h1 {
    font-size: 2rem;
}

h2,
.h2 {
    font-size: 1.6rem;
}

h3,
.h3 {
    font-size: 1.4rem;
}

h4,
.h4 {
    font-size: 1.2rem;
}

h5,
.h5 {
    font-size: 1rem;
}

h6,
.h6 {
    font-size: .9rem;
}

/* --------  Custom stypes ----------- */
.game-start-tile {
    font-size: 1.1rem;
    margin: .5em 0;
    text-align: center;
}
.body-overflow{
    overflow: hidden;
}
.game-text-blue {
    color: #3656ff;
    font-weight: 600;
}

.form-game {
    padding: 20px 15px;
    background: #fff;
    border-radius: 25px;
}

.box-card {
    background: #fff;
    padding: 1em;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 20%);
}

.box-gift-start {
    margin-top: -6em;
    padding: 0 3em;
}

.gift-box-text {
    text-align: center;
}

.gift-box-text h2 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: .5em;
    color: #000;
}

#start-game-wapper {
    padding: 6em 0;
    display: none;
}

.btn-start-game {
    background: #3656ff;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    padding: 1.2em 1.6em;
}
.gift-boxs {
    min-height: 215px;
}
.gift-boxs h4 {
    font-size: .9rem;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
    color: #2d303a;
}

.btn-start-game:disabled {
    cursor: not-allowed !important;
}

#game-alert {
    padding: .5rem;
}

#game-alert .alert-success {
    background-color: #dbf7e7;
}

#game-alert p {
    font-size: .85rem;
}

#game-alert h5 {
    font-size: 1em;
    margin-bottom: .5rem;
}

#game-alert.alert-card {
    color: #313132;
    background-color: #ffffff;
}

#regester {
    margin-top: 10em;
    /* display: none; */
}
.box-gift-end {
    margin-top: -12em;
    padding: 0 3em;
}

.game-end-content p {
    font-size: 1.05rem;
    text-align: center;
    margin: 1em 0;
}

#guess-word-game {
    display: none;
}

.btn-start-game:hover {
    color: #f3f7ff;
}

.form-control {
    background-color: #f3f7ff !important;
    border-radius: 15px;
    font-size: .9rem;
    border: 1px solid #f3f7ff;
    padding: .8em;
}

.form-control:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.form-control:focus {
    color: #4f4f4f !important;
    background-color: #fff !important;
    outline: 0 !important;
    -webkit-box-shadow: 0 0 0 0.25rem rgb(18 102 241 / 25%) !important;
    box-shadow: 0 0 0 0.25rem rgb(18 102 241 / 25%) !important;
    border: 1px solid #bdbdbd !important;
}

.form-group .form-control~.form-label {
    font-size: .8rem;
    padding-top: .6rem;
}

.form-group .form-control:focus~.form-label {
    background-color: #fff !important;
    color: #000 !important;
    padding: 10px;
}

.card-guess-word {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 0;
}

.reload-box {
    border: 0;
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.reload-icon {
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 1.1rem;
    color: #fff;
    background: rgb(235, 196, 11);
    background: linear-gradient(0deg, rgba(235, 196, 11, 1) 0%, rgba(255, 218, 47, 1) 100%);
    border-radius: 30px;
    box-sizing: border-box;
}

.rat-box {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.rat-icon {
    color: #ffd40a;
    font-size: 1.5rem;
}

.rat-title,
.reload-title {
    padding: 0 10px;
}

.box-guess-word {
    width: 100%;
    background: #f3f7ff;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    border-radius: 10px;
    color: #000;
}

.guess-icon {
    font-size: 1.3rem;
}

.is-danger {
    color: red;
}

.is-success {
    color: #2ce3ba;
}

.arrow-icon {
    color: #d32c00;
    font-size: 1.4rem;
    cursor: pointer;
}

.guess-row {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.guess-content {
    overflow: hidden;
    position: relative;
}

.guess-char {
    border: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background:#4d6bfe url("../image/btn-box.png");
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 5px -2px rgb(0 0 0 / 75%);
    -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px -2px rgb(0 0 0 / 75%);
    transition: all .3s;
    position: relative;
    overflow: hidden;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
}

.guide-game-box h2 {
    margin-bottom: 1em;
    font-size: 1.4rem;
    font-weight: 700;
    color: #000;
}

.guide-game-box p {
    font-size: 1.1rem;
}

.guess-char:hover {
    background: url(../image/btn-box-error.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.char-active {
    background: url(../image/btn-box-error.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-hide {
    position: absolute;
    top: 0;
    left: -100%;
    transform: translateX(-100%);
}

.char-success {
    background: url(../image/btn-box-success.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#guess-wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.guess-word-time-out::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000000bd;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.gmae-time-out {
    display: none;
    width: 100%;
    position: absolute;
    top: 50%;
    right: -50%;
    left: -50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.gmae-time-out h2 {
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
}

#you-win-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    background: url(../image/you-win.gif);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-origin: border-box;
    background-attachment: fixed;
    background-color: #00000012;
    z-index: 99999;
}

.you-win-box {
    width: 100%;
    height: 100%;
    background: rgb(106 104 241 / 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.box-bg-you-win {
    background: #fff;
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.box-bg-you-win h3 {
    font-size: 1.6rem;
    margin: 1em 0;
}
.error {
    font-size: .8rem;
    margin: 10px;
    display: inline-block;
    color: red;
}
.error-input{
    border: 1px solid red;
}
@media only screen and (min-width : 300px) and (max-width : 520px) {

    /* Styles */
    .box-gift-end {
        margin-top: -6em;
    }

    .box-gift-start {
        margin-top: -3em;
        padding: 0 2em;
    }
}

@media screen and (max-width: 768px) {}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .box-gift-start {
        margin-top: -3em;
        padding: 0 1em;
    }
}

@media only screen and (min-device-width : 1200px) and (max-device-width : 1300px) {}

@media screen and (min-width: 1400px) {
    .px-xl-3 {
        padding: 0 3em;
    }
}